config.mk
config.log
config.status
configure
aclocal.m4
stamp-h
stamp-h.in
src/config.h
.cproject
.project
.settings
*~
.deps/
.libs/
gst/Makefile.in
Makefile
/m4/libtool.m4
/m4/lt*.m4
/libtool
/ltmain.sh
/install-sh
/aclocal.m4
/configure
/stamp-h?
/config.*
/autom4te.cache
/build-aux
.dirstamp
.sconsign.dblite
*.tar.*
*.exe
*.dll
*.lib
*.obj
*.dylib
*.out
*.app
*.i*86
*.x86_64
*.gcda
*.gcno
*.dep
*.o
*.so
*.so.*
*.lo
*.slo
*.Plo
*.la
*.lai
*.a
*.pc
*.pch
*.dirstamp
bin/*
build/*