config.mk
config.log
config.status
configure
aclocal.m4
Makefile.in
compile_commands.json
.cache
stamp-h
stamp-h.in
src/config.h
.cproject
.project
.settings
*~
.deps/
.libs/
gst/Makefile.in
Makefile
/m4/libtool.m4
/m4/lt*.m4
/libtool
/ltmain.sh
/install-sh
/aclocal.m4
/configure
/stamp-h?
/config.*
/autom4te.cache
/build-aux
/gst/m4/libtool.m4
/gst/m4/lt*.m4
/gst/libtool
/gst/ltmain.sh
/gst/install-sh
/gst/aclocal.m4
/gst/configure
/gst/stamp-h?
/gst/config.*
/gst/autom4te.cache
/gst/build-aux
/gst/vis
.dirstamp
.sconsign.dblite
*.tar.*
*.exe
*.dll
*.lib
*.obj
*.dylib
*.out
*.app
*.i*86
*.x86_64
*.gcda
*.gcno
*.dep
*.o
*.so
*.so.*
*.lo
*.slo
*.Plo
*.la
*.lai
*.a
*.pc
*.pch
*.dirstamp
bin/*
build/*


*.mkv
*.wav
*.mp3
*.mid
oprofile_data
perf.data
perf.data.old
